.header__bar {
  align-items: center;
  background-color: #523598;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  left: 0;
  height: 65px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 2;
}

.header__bar__separator {
  display: none;
}

.header__bar__link {
  color: inherit;
  display: inline-block;
  flex: 1;
  text-decoration: none;
}

.header__bar__link--root {
  flex-basis: 100%;
  font-size: 13px;
}

.header__bar__link--page {
  display: none;
  flex-basis: 100%;
  font-weight: lighter;
}

.header__bar__link--login,
.header__bar__link--menu {
  min-width: 80px;
}

.header__bar__link--login {
  display: none;
  margin-right: 95px;
}

@media screen and (min-width: 768px) {
  .header__bar {
    background-color: transparent;
    height: 72px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__bar__link--root {
    flex-basis: 0;
    font-size: 18px;
  }

  .header__bar__separator,
  .header__bar__link--page,
  .header__bar__link--login {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .header__bar {
    padding-left: 40px;
    padding-right: 120px;
  }
}
