.header {
  height: 100%;
  min-height: 570px;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.header__banner {
  background-color: #523598;
  background-image: url('./assets/header-banner.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .header {
    min-height: 904px;
  }
}
