.promo {
  align-items: center;
  bottom: 72px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 20px;
  margin: 0 auto;
  max-width: 800px;
  position: absolute;
  right: 20px;
  text-align: center;
  text-transform: uppercase;
  top: 72px;
  z-index: 1;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  z-index: 1;
}

.promo__descr {
  font-size: 16px;
  margin: 10px 0 45px 0;
  max-width: 470px;
  text-transform: none;
  z-index: 1;
}

.promo__link {
  background-color: #523598;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  max-width: 150px;
  padding: 20px 25px;
  text-decoration: none;
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .promo__title {
    font-size: 85px;
    line-height: 85px;
  }

  .promo__descr {
    font-size: 22px;
    margin: 30px auto;
  }
}
